*{
  cursor: url('./wetransfer_doggos_2021-09-14_0428/Phodography/499-4998963_transparent-wolf-paw-print-png-blue-dog-paw.gif') default !important;
}
body {font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  font-weight: bolder;
  overflow-x:hidden;
  height: 100%;
  background-color: lightgray;
  color: hsl(206, 100%, 30%);
}
.hamburger{
  display: none;
}

.main{
  height: 100%;
}
html, body {
  height: 100%;

}
nav img{
  padding: 1px;
}
.navbar{
  margin: 0;
  padding:0;
  background-color:white;
  width: 100%;
  border-bottom: 3px solid hsl(48, 100%, 58%);
 border-top: 3px solid hsl(48, 100%, 58%);
}

.navigationlinks{
  margin: 0;
  color: hsl(206, 100%, 30%) !important;
  width: 100%;
  text-align: center;
  display:inline-block;
  font-size: 1.5vw;
  margin-top: 2%;
}

#exampleSlider {
  position: relative;
 
}
@media (max-width: 767px) {
  #exampleSlider {
    border-color: transparent;
  }
  #exampleslider .MS-content .item{
    height: 25vh;
  }
  .aboutMePic{
    display: block;
  }
  .aboutMeContent{
    font-size: small;
    display: block;
  }
  .aboutMe{
    display: block;
  }
}
#exampleSlider .MS-content {
  margin: 15px 5%;
  overflow: hidden;
  white-space: nowrap;
  border: 3px solid hsl(206, 100%, 30%);
}
@media (max-width: 767px) {
  #exampleSlider .MS-content {
    margin: 0;
  }
}
#exampleSlider .MS-content .item {
  display: inline-block;
  height: 65vh;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  width: auto;
  
}
#exampleSlider .MS-content .item img {
  display: inline-block;
  height: 65vh;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  width: auto;
}


#exampleSlider .MS-controls button {
  position: absolute;
  border: none;
  background: transparent;
  font-size: 30px;
  outline: 0;
  top: 35px;
}
@media (max-width: 767px) {
  #exampleSlider .MS-controls button {
    display: none;
  }
}
#exampleSlider .MS-controls button:hover {
  cursor: pointer;
}
#exampleSlider .MS-controls .MS-left {
  left: 10px;
}
@media (max-width: 992px) {
  #exampleSlider .MS-controls .MS-left {
    left: -2px;
  }
}
#exampleSlider .MS-controls .MS-right {
  right: 10px;
}
@media (max-width: 992px) {
  #exampleSlider .MS-controls .MS-right {
    right: -2px;
  }
}
/*
/
/
/
/
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}


.item2 { width: 33.3%; }

#exampleSlider2 {
  position: relative;
 
}


@media (max-width: 767px) {
  #exampleSlider2 {
    border-color: transparent;
  }
  .aboutMePic{
    display: block;
  }
}
#exampleSlider2 .MS-content2 {
  margin: 15px 5%;
  overflow: hidden;
  white-space: nowrap;
  border: 3px solid hsl(206, 100%, 30%);
  
}


@media (max-width: 767px) {
  #exampleSlider2 .MS-content2 {
    margin: 0;
  }
}
#exampleSlider2 .MS-content2 .item2 {
  display: inline-block;
  height: 75%;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  width: 50%;
}

@media (max-width: 1200px) {
  #exampleSlider2 .MS-content2 .item2 {
    width: 33.3333%;
  }
}
@media (max-width: 992px) {
  #exampleSlider2 .MS-content2 .item2 {
    width: 33.3333%;
  }
}
@media (max-width: 767px) {
  #exampleSlider2 .MS-content2 .item2 {
    width: 50%;
  }
}

#exampleSlider2 .MS-controls2 button {
  position: absolute;
  border: none;
  background: transparent;
  font-size: 30px;
  outline: 0;
  top: 35px;
}
@media only screen and (max-width: 767px) {
  body{
    margin: 3px !important;
  }
  body .topnav{
    display: block !important;
  }
  body .aboutMePic{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  body .aboutMeContent{
    display: block;
    width: 100%;
    font-size: small;
  }
  body #main-navbar{
    display: none !important
  }
  body .aboutMe{
    display: block;
  }
  body iframe{
    display: block;
   
    
  }
  body #submitbutton{
    display: inline-block;
    width: 85%;
    padding: 12px 20px;
    margin: 8px 0;
  }
  body input[type=datetime-local], select {
    width: 85%;
}
body input[type=text], select {
  width: 85%;
}
body .MS-content{
  height: 40vh !important;
}
body .MS-content .item{
  height: 40vh !important;
}
body .MS-content .item img{
  height: 40vh !important;
}

}

#exampleSlider2 .MS-controls2 button:hover {
  cursor: pointer;
}
#exampleSlider2 .MS-controls2 .MS-left2 {
  left: 10px;
}
@media (max-width: 992px) {
  #exampleSlider2 .MS-controls2 .MS-left2 {
    left: -2px;
  }
}
#exampleSlider2 .MS-controls2 .MS-right2 {
  right: 10px;
}
@media (max-width: 992px) {
  #exampleSlider2 .MS-controls2 .MS-right2 {
    right: -2px;
  }
}
/* Putting all of my classes down here*/
.center { 
  display: block;
  border-style: solid;
  border-width: 3px;
border-color:  hsl(48, 100%, 58%);
width: 50%;

} 
.left { 
  display: block;
  border-style: solid;
  border-width: 3px;
border-color:  hsl(48, 100%, 58%);
width: 50%;
text-align: left;
margin-left: 0;

} 
.toph2s{ 
  color: hsl(206, 100%, 30%);
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}
.bottomh2s{ 
  color: hsl(206, 100%, 30%);
  font-size: 50px;
  font-weight: bold;
}
.bottomh3s{
  color: hsl(206, 100%, 30%);
  font-size: 30px;
  font-weight: bold;
}
input[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid hsl(206, 100%, 30%);
  border-radius: 4px;
  box-sizing: border-box;
  
}
input[type=datetime-local], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid hsl(206, 100%, 30%);
  border-radius: 4px;
  box-sizing: border-box;
  
}
label{
  color: hsl(206, 100%, 30%);
  display: block;
}

#submitbutton {
  width: 20%;
  background-color: hsl(206, 100%, 30%);
  color: white;
  padding: 14px 20px;
  margin-left: 10%;
  margin-right: auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  max-height: 50px;
  
}

input[type=submit]:hover {
  background-color: hsl(200, 47%, 48%);
}

.bookingform {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.contactBooking{
  margin-left: 10px;
}
.Pricing{
 margin-left: 10px;
}
.hr2 { 
  display: block;
  border-style: solid;
  border-width: 3px;
border-color:  hsl(48, 100%, 58%);
width: 100%;
}

.aboutMe{
display: flex;
margin: 5px;
}
.aboutMeContent{
  display: inline-block;
  color: hsl(206, 100%, 30%);
  margin-left: 2px;
  font-size: 1.1vw;
  
}
.aboutMePic{
  display: inline-block;
  width:38%;
  padding: 5px;
}
.none{
  display: none;
}
/* Style the navigation menu */
.topnav {
  display: none;
  overflow: hidden;
  background-color: white;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: hsl(206, 100%, 30%);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: hsl(48, 100%, 58%);
 height: 8vh;
 width: 12vw;
 display:inline-flex;
 margin: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color:hsl(206, 100%, 30%);
  color: white;
}


  #more {display: none;}

  iframe{height:100vh ;
          width:  90vw;
        }
#leisurediv{
  width: auto;
  max-height: 600px;
}